<ion-content class="center">
  <div class="center">
    <div class="logo">
      <img src="../../../assets/icon/logo.png" alt="" width="100%" srcset="">
    </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col offset="4" size="4">
          <ion-button expand="block" (click)="registerPage()" shape="round">
            Register
          </ion-button>
        </ion-col>
        <ion-col offset="4" size="4">
          <ion-button expand="block" (click)="loginPage()" shape="round">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>    
</ion-content>
