.logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}