<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Worker Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar">
    <img src="../../../assets/icon/user.jpg" class="prof" alt="avatar">
  </div>
  <ion-card-title>{{worker.firstName}} {{worker.lastName}}</ion-card-title>
  
  <ion-card-subtitle *ngFor="let item of worker.skills">{{item.skill}}</ion-card-subtitle>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-badge text-center color="primary">KYC Verified</ion-badge>
      </ion-col>
      <ion-col size="6">
        <ion-badge text-center color="danger">Skills Unverified</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- <ion-row class="card">
    <ion-col size="4">
      <p class="num">{{owner.sporsors_to.length}}</p> -->
      <!-- <p class="fig">Sponsoring</p> -->
    <!-- </ion-col> -->
    <!-- <ion-col size="4"> -->
      <!-- <p class="num">{{owner.jobs.length}}</p> -->
      <!-- <p class="fig">Completed</p> -->
    <!-- </ion-col> -->
    <!-- <ion-col size="4"> -->
      <!-- <p class="num">{{owner.refered.length}}</p> -->
      <!-- <p class="fig">Refered</p> -->
    <!-- </ion-col> -->
  <!-- </ion-row> --> 
  
  <ion-card-content>
    <p class="title">About</p>
    A new Registered worker
  </ion-card-content>
  
  <ion-segment>
    <ion-segment-button value="porfolio">
      <ion-label>Porfolio</ion-label>
    </ion-segment-button>
    <ion-segment-button value="reviews">
      <ion-label>Reviews</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jobs">
      <ion-label>jobs</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-text color="primary">
    <p style="text-align: center;">No record about user yet!!</p>
  </ion-text>

</ion-content>
