
.prof {
    border-radius: 100%;
    box-shadow: 2px 2px 8px #00000029;
    border: 3px solid #107478;
}

.name {
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    width: 100%;
    overflow: hidden;
    text-transform: capitalize;
    font-family: Open Sans;
}

.skill {
    margin: 5px;
    font-size: 17px;
    color: #9a9a9a;
    font-weight: 600;
    text-transform: capitalize;
}

  
.inner-scroll.scroll-y {
    background: #ececec !important;
}

.avatar {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

ion-card-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

ion-card-subtitle {
    font-size: 20px;
    margin: 3px;
    text-align: center;
    text-transform: capitalize;
}

.num {
    font-size: 23px;
    margin: 0;
    text-align: center;
    font-weight: 900;
}

.fig {
    margin: 4px 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

.card {
    margin-top: 17px;
}

.title {
    font-size: 22px;
    font-weight: 600;
}

ion-badge {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}