<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('email')" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input required formControlName="phone" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input required formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="RegisterForm.errors?.mismatchfields && RegisterForm.controls.confirmPassword.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Passwords Do not Match!!!
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Accept the term of use</p>
      </ion-label>
      <ion-checkbox slot="start" formControlName="accept_discliamer"></ion-checkbox>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="RegisterForm.invalid || RegisterForm.errors?.mismatchfields">
      Login
    </ion-button>
  </form>
</ion-content>
