<div class="wrapper">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>

  <p style="text-align: center; color: #FFF;">Waiting for Worker's Response.......</p>

</div>

<ion-button fill="clear" expand="block" color="light" (click)="cancelled()">
  <ion-icon slot="icon-only" name="close"></ion-icon>
  CANCEL BOOKING
</ion-button>