<ion-buttons slot="start" class="home">
  <ion-menu-button>
    <ion-icon slot="start" name="add"></ion-icon>
  </ion-menu-button>
</ion-buttons>


<ion-content>
  <ion-item>
    <ion-text slot="end">
      <img width="23%" src="../../assets/icon/logo.png" />
    </ion-text>
  </ion-item>
   <map [requestedWorker]="requestedWorker"></map>
</ion-content>
<ion-footer *ngIf="request">
  <ion-toolbar>
    <ion-card-header>
      <ion-card-subtitle>Holla !!!</ion-card-subtitle>
      <ion-card-title>What service do you require?</ion-card-title>
    </ion-card-header>
      <ion-item>
        <ion-label>Select Type of worker</ion-label>
        <ion-select [interfaceOptions]="customOptions" [(ngModel)]="skill" interface="action-sheet" placeholder="">
          <ion-select-option value="taylor">Tailor</ion-select-option>
          <ion-select-option value="plumber">Plumber</ion-select-option>
          <ion-select-option value="bricklayer">Bricklayer</ion-select-option>
          <ion-select-option value="electrician indoor">Electrician Indoor</ion-select-option>
          <ion-select-option value="electrician outdoor">Electrician Outdoor</ion-select-option>
          <ion-select-option value="electrician building projects">Electrician Building Projects</ion-select-option>
          <ion-select-option value="graphic design">Graphic Design</ion-select-option>
          <ion-select-option value="printing">Printing</ion-select-option>
          <ion-select-option value="technician household items">Technician Household items</ion-select-option>
          <ion-select-option value="phone technician">Phone Technician</ion-select-option>
          <ion-select-option value="phone repair">Phone Repair</ion-select-option>
          <ion-select-option value="computer repair">Computer Repair</ion-select-option>
          <ion-select-option value="vulcanizer">Vulcanizer</ion-select-option>
          <ion-select-option value="auto mechanic">Auto Mechanic</ion-select-option>
          <ion-select-option value="auto rewire">Auto Rewire</ion-select-option>
          <ion-select-option value="auto ac maintenance">Auto AC Maintenance</ion-select-option>
          <ion-select-option value="house ac maintenance">House AC Maintenance</ion-select-option>
          <ion-select-option value="make-up artist">Make-up Artist</ion-select-option>
          <ion-select-option value="gele tying">Gele Tying</ion-select-option>
          <ion-select-option value="driver">Driver</ion-select-option>
          <ion-select-option value="cook">Cook</ion-select-option>
          <ion-select-option value="caterer">Caterer</ion-select-option>
          <ion-select-option value="house cleaning">House Cleaning</ion-select-option>
          <ion-select-option value="house help">House Help</ion-select-option>
          <ion-select-option value="baby sitting">Baby Sitting</ion-select-option>
          <ion-select-option value="laundry man">Laundry Man</ion-select-option>
          <ion-select-option value="car wash">Car Wash</ion-select-option>
          <ion-select-option value="gardening">Gardening</ion-select-option>
          <ion-select-option value="event decoration">Event Decoration</ion-select-option>
          <ion-select-option value="funiture carpentry">Funiture Carpentry</ion-select-option>
          <ion-select-option value="house carpentry">House Carpentry</ion-select-option>
          <ion-select-option value="general maintenance carpentry">General Maintenance Carpentry</ion-select-option>
          <ion-select-option value="building project carpentry">Building Project Carpentry</ion-select-option>
          <ion-select-option value="house roofing carpentry">House Roofing Carpentry</ion-select-option>
          <ion-select-option value="welder">Welder</ion-select-option>
          <ion-select-option value="hygiene officer">Hygiene Officer</ion-select-option>
          <ion-select-option value="party rentals">Party Rentals</ion-select-option>
          <ion-select-option value="Refrigerator repairs">Refrigerator repairs</ion-select-option>
          <ion-select-option value="aluminium works">Aluminium Works</ion-select-option>
          <ion-select-option value="Bus hire">Bus hire</ion-select-option>
          <ion-select-option value="Bus hire">Bus hire</ion-select-option>
          <ion-select-option value="truck hire">Truck hire</ion-select-option>
          <ion-select-option value="wedding decorator">Wedding Decorator</ion-select-option>
          <ion-select-option value="hair Stylist">Hair Stylist</ion-select-option>
          <ion-select-option value="barber">Barber</ion-select-option>
          <ion-select-option value="poultry attendant">Poultry Attendant</ion-select-option>
          <ion-select-option value="small chops making">Small Chops Making</ion-select-option>
          <ion-select-option value="cake baking">Cake Baking</ion-select-option>
          <ion-select-option value="body massage">Body Massage</ion-select-option>
          <ion-select-option value="House Painting">House Painting</ion-select-option>
          <ion-select-option value="watch repairs">Watch Repairs</ion-select-option>
          <ion-select-option value="goldsmith">Goldsmith</ion-select-option>
          <ion-select-option value="fumigator">Fumigator</ion-select-option>
          <ion-select-option value="ice making">Ice Making</ion-select-option>
          <ion-select-option value="house tiling">House Tiling</ion-select-option>
          <ion-select-option value="cobbler/shoe maker">Cobbler/Shoe Maker</ion-select-option>
          <ion-select-option value="bread seller">Bread Seller</ion-select-option>
          <ion-select-option value="trading(footwear)">Trading(FootWear)</ion-select-option>
          <ion-select-option value="trading(cloth-adult)">Trading(Cloth-Adult)</ion-select-option>
          <ion-select-option value="trading(cloth-children)">Trading(Cloth-Children)</ion-select-option>
          <ion-select-option value="trading(household)">Trading(Household)</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Where do you require service?</ion-label>
        <ion-input required type="text" disabled></ion-input>
      </ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col offset="2" size="8">
            <ion-button expand="block" shape="round" [disabled]="!skill" color="primary" (click)="onClick()">
              Holla worker
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="confirm">
  <ion-toolbar>
    <ion-text color="primary">
      <p style="text-align: center;">You have requested for the service of a {{ skill | uppercase }}.</p>
    </ion-text>
    <ion-grid fixed>
      <ion-row>
        <ion-col offset="2" size="8">
          <ion-button expand="block" shape="round" (click)="confirmation()">
            Confirm
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="accepted">
  <ion-toolbar>
    <ion-list color="danger">
      <ion-label text-wrap color="warning">
        <h2 style="text-align: center;">
          {{ acceptedWorker.message }}
        </h2>
      </ion-label>
    </ion-list>
    <ion-item lines="none">
      <ion-avatar slot="start" (click)="workprofile(acceptedWorker.slug)">
        <img src="../../assets/icon/user.jpg" />
      </ion-avatar>
      <ion-label text-wrap>
        <h2>
          {{ acceptedWorker.first_name }} {{ acceptedWorker.last_name }}
        </h2>
        <p>
          <ion-icon slot="start" color="primary" name="star"></ion-icon>
          5.0
        </p>
      </ion-label>
      <ion-chip slot="end" color="success" mode="ios" outline="true">
        <ion-icon name="call"></ion-icon>
        <ion-label>{{ acceptedWorker.phone }}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="4">
          <ion-button color="dark" fill="clear" (click)="chat(acceptedWorker._id)" disabled>
            <ion-icon color="primary" slot="start" name="chatboxes"></ion-icon>
            Chat
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="dark" fill="clear" (click)="onClick()" disabled>
            <ion-icon color="primary" slot="start" name="call"></ion-icon>
            Call
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="dark" fill="clear" (click)="canceljob()">
            <ion-icon color="primary" slot="start" name="close"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <div *ngIf="arrived">
        <ion-radio-group name="auto" [(ngModel)]="value">
          <ion-list-header text-wrap padding>please proceed to negotiate with worker and select a method of payment</ion-list-header>
          <ion-item>
            <ion-label>Cash</ion-label>
            <ion-radio value="cash"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Others(e-Payment)</ion-label>
            <ion-radio value="others" disabled></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
    </ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col offset="2" size="8">
          <ion-button *ngIf="status == 'arrived'" shape="round" [disabled]="!value" color="primary" expand="block" (click)="startjob()" disabled>
            Start Job
          </ion-button>
          <ion-button *ngIf="status == 'inprogress'" shape="round" color="primary" expand="block" (click)="endJOb()">
            End Job
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>